# Gradle & Android Studio
local.properties
.gradle/
.externalNativeBuild/
build/
captures/
release/

.idea/
*.iml
.gradle
/.idea
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

# release apks
*.apk
*.bak
gitupdate.*
gitupdate.bat