# Gradle & Android Studio
.gradle/
.externalNativeBuild/

captures/
release/

.idea/
*.iml
.gradle
.idea
.vscode
/.idea
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
build/
/captures
.externalNativeBuild
.cxx
local.properties
# release apks
/app/libs/
/app/src/main/assets/sing-box
/app/src/main/java/SpeedUpVPN
/service_account_credentials.json
jniLibs/
/library/libcore_build/
.idea/deploymentTargetDropDown.xml
/nkmr

# submodules
/external
*.apk
*.bak
gitupdate.*
gitupdate.bat